.css-10rvbm3{font-weight:500;}
.css-1qjykpg{background-color:#f3f4f6;padding:20px;}
.css-1s7arrs{background-color:rgb(20, 22, 44);color:rgb(36, 37, 56);min-height:50px;position:relative;}
.css-so3enf{position:absolute;top:0;left:0px;height:52px;z-index:12;width:auto;-webkit-transition:left 0.5s ease;transition:left 0.5s ease;}
.css-1b4v1cj{left:var(--kentacss4-0);}
.css-7jsozr:hover{color:var(--kentacss5-0);}
.css-1j3rf3a{background-color:#2563EB;}