.css-13veka{font-weight:500;}
.css-tokvmb{color:red;}
.css-1hvpfjp{color:var(--kentacss2-0);-webkit-transition:color 4.5s;transition:color 4.5s;}
.css-1qjykpg{background-color:#f3f4f6;padding:20px;}
.css-1ldnkb6:hover{color:var(--kentacss4-0);}
.css-1j3rf3a{background-color:#2563EB;}
.css-1s7arrs{background-color:rgb(20, 22, 44);color:rgb(36, 37, 56);min-height:50px;position:relative;}
.css-so3enf{position:absolute;top:0;left:0px;height:52px;z-index:12;width:auto;-webkit-transition:left 0.5s ease;transition:left 0.5s ease;}
.css-1gae51y{left:var(--kentacss8-0);}